<form id="main-info-form" method="post">
    <input id="name-input" placeholder="Name" name="name" value="{{name}}"/>
    <div class="main-info">
        <div class="character-img-container">
            <img id="character-img" src="{{image}}"/>
            <button id="character-img-edit-button" type="button">✎</button>
        </div>
        <div class="character-property">
            <label>Age</label>
            <input id="age-input" name="age" value="{{age}}"/>
        </div>
        <div class="character-property">
            <label>Height</label>
            <input id="height-input" name="height" value="{{height}}"/>
        </div>
        <div class="character-property">
            <label>Weight</label>
            <input id="weight-input" name="weight" value="{{weight}}"/>
        </div>
    </div>
</form>